﻿body {
	position:absolute;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background-color:#ffffff;
}

header{
	background-color:#ffffff;
	width:100%;
	height:10%;
	position:fixed;
	border-bottom:2px solid black;
	z-index:4;
}

	.textHeader{
		text-align:center;
		font-size:200%;
		font-style:italic;
		font-weight:bold;
		width:100%;
        line-height:100%;
	}
	.logoBack{
		height:100%;
		width:20%;
		position:absolute;
		left:0px;
		background-size:100% 100%;
		background-image:url("/images/logo1.png");
	}
        .logoBack:active {
            margin-top:1%;
            margin-left:1%;
        }
	.nameYesNot{
		height:100%;
		width:60%;
		position:absolute;
		left:20%;
	}

	.help{
		height:100%;
		width:20%;
		position:absolute;
		right:0;
		background-size:80% 80%;
        background-repeat:no-repeat;
        margin-top:1%;
		background-image:url("/images/help.gif");
	}
        .help:active {
            margin-top:2%;
            margin-right:1%;
        }

	.content{
		top:10%;
		height:80%;
		width:100%;
		position:fixed;
		background-color:#ffffff;
		text-align:center;
		font-size:150%;
		overflow-y:auto;
	}
	.content1{
		top:10%;
		height:90%;
		width:100%;
		position:fixed;
		background-color:#ffffff;
		text-align:center;
		font-size:150%;
		overflow-y:auto;
	}
	.answerText{
		width:100%;
	}
	.btnClick{
		width:150px; 
		height:50px; 
		background-size:100% 100%;
		background-image:url("/images/btn-answer.png");
		z-index:6;
		left:30%;
    }
        .btnClick:active {
            margin-top:1%;
            margin-left:1%;
        }

footer{
	background-color:#ffffff;
	width:100%;
	height:10%;
	position:fixed;
	bottom:0px;
	z-index:3;
    border-top:2px solid black;
}

    .back{
	height:100%;
	width:20%;
	position:absolute;
	left:0px;
	background-size:100% 100%;
	background-image:url("/images/back.png");
    }
    .back:active {
        margin-left:1%;
        margin-top:1%;
    }
	.next{
	height:100%;
	width:20%;
	position:absolute;
	right:0px;
	background-size:100% 100%;
	background-image:url("/images/next.png");
	}
        .next:active {
            margin-right:1%;
            margin-top:1%;
        }
	.answerYes{
		height:100%;
		width:60%;
		position:absolute;
		text-align:center;
		/*background-size:100% 100%;*/
		/*background-image:url("/images/no-answer.png");*/
		left:20%
	}
	.textStory{
		width:40%;
		position:absolute;
		left:30%;
		display:none;
	}

.win-toggleswitch {
    padding: 0;
    background-color: transparent;
    vertical-align: top;
    margin: 0;
    display: block;
    padding-bottom: 0px;
}
.win-toggleswitch .win-switch {
    display: inline-block;
    height:  36px;
    width:  75px;
    padding: 5px;
    margin: 0;
    background-color: transparent;
    -ms-grid-column: 2;
}
.win-toggleswitch .win-switch::-ms-tooltip {
    display: none;
}
.win-toggleswitch .win-switch::-ms-ticks-before,
.win-toggleswitch .win-switch::-ms-ticks-after {
    display: none;
}
.win-toggleswitch .win-switch::-ms-track {
    height:  22px; /* height - borders */
    width:  69px;
    padding: 0;
    margin: 0;
    border-width:  2.25px;
    border-style: solid;
}
.win-toggleswitch .win-switch::-ms-fill-lower,
.win-toggleswitch .win-switch::-ms-fill-upper {
    height:  16px; /* height - borders - margins */
    padding: 0;
}
.win-toggleswitch .win-switch::-ms-fill-lower {
    margin-left:  3px;
}
.win-toggleswitch .win-switch:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm)::-ms-fill-lower {
    margin-left: 0;
    margin-right: 1px;
}
.win-toggleswitch .win-switch::-ms-fill-upper {
    margin-right:  3px;
}
.win-toggleswitch .win-switch:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm)::-ms-fill-upper {
    margin-right: 0;
    margin-left: 1px;
}
.win-toggleswitch .win-switch::-ms-thumb {
    height:  31px;
    width:  16px;
}
.win-toggleswitch .win-title {
    display: block;
    vertical-align: top;
    max-width:470px;
    font-size: 10pt;
    font-weight: 600;
    line-height: 1.3636; /* 20px when font-size is 11pt */
}
.win-toggleswitch .win-label {
    display: none;
    vertical-align: top;
    padding: 5px 0px 5px 0px;
    min-width: 15px; 
    direction: inherit;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    font-size: 8pt;
    font-weight: 400;
    line-height: 1.3636; /* 20px when font-size is 11pt */
}
.win-toggleswitch .win-label:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm) {
    padding: 5px 0px 5px 20px;
}
.win-toggleswitch .win-label.win-hidden {
    visibility: hidden;
}
.win-focus-hide {
    outline: none;
}